* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms linear;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background: rgb(28, 38, 70);
  overflow-y: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: auto;
}

.title {
  color: #fff;
  text-align: center;
}
.btn-open {
  width: 10rem;
  height: 10rem;
  padding: 2.5rem 0;
  margin: 1rem;

  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  vertical-align: middle;
  text-align: center;

  color: #333333;
  background-color: yellow;
  border: 0px solid rgba(255, 166, 0, 0.7);
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.911);
  border-radius: 50%;

  cursor: pointer;
}

.btn-open:hover {
  color: rgb(248, 248, 242);
  background-color: #333333;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.911);
  z-index: 10;
}

.flyRight {
  opacity: 0 !important;
  transform: translateX(250rem) !important;
}

.output {
  width: 50rem;
  height: 40vh;
  padding: 1rem;
  border: 0.8rem solid;

  resize: none;
}

.keyboard {
  opacity: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  width: 50rem;

  border: 0.2rem solid rgba(1, 39, 88, 0.1);
  // background-color: rgba(192, 192, 192, 0.6);
  background-color: black;
  transition: transform 650ms linear;
}

.keyboard__row {
  display: grid;
  grid-template-columns: repeat(33, 0.5fr);
  // grid-template-rows: 5fr;
  // grid-gap: 0.3rem;
  // grid-row-gap: 0.3rem;
  margin: 0.15rem 0;
}

.keyboard__key {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  grid-column: auto / span 2;

  height: 3rem;
  padding: 0.2rem;
  margin: 0 0.15rem;

  font-size: 1.4rem;
  font-weight: 400;
  color:#fff;

  cursor: pointer;
  background-color: #333333;


  .sub {
    font-size: 1.1rem;
    text-align: left;
    color: #7a7a7a;
  }
  .letter {
    text-align: center;
    vertical-align: middle;
  }
  .sub-active {

  }
  .sub-inactive {

  }
  &.active {
    background-color: green;
  }
}

[data-code*="Digit"] {
  .letter {
    // color: red;
    text-align: right;
  }
} 

[data-code="ControlRight"], 
[data-code="Tab"],
[data-code="ControlLeft"],
[data-code*="Alt"],
[data-code="Clear"]  {
  grid-column: auto / span 3;
}

[data-code="Enter"],
[data-code="Delete"],
[data-code="Lang"],
[data-code="Mic"] {
  grid-column: auto / span 4;
}

[data-code="CapsLock"],
[data-code="ShiftRight"]  {
  grid-column: auto / span 5;
}

[data-code="ShiftLeft"] {
  grid-column: auto / span 6;
}

[data-code="Backspace"]{
  grid-column: auto / span 7;
}

[data-code="BackgroundSound"],
[data-code*="Sound"] {
  grid-column: auto / span 10;
}

[data-code="Space"] {
  grid-column: auto / span 15;
}




@keyframes fadeInOut {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
  50% {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
  100% {
    opacity: 0;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}
}