* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  background: #1c2646;
  height: 680px;
  min-width: 500px;
  overflow-y: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50rem;
  margin: auto;
  overflow-y: hidden;
  height: 100%;
}

.title {
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}

.btn-open {
  width: 100px;
  height: 100px;
  padding: 25px 0;
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  color: #333333;
  background-color: yellow;
  border: 0px solid rgba(255, 166, 0, 0.7);
  -webkit-box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.911);
          box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.911);
  border-radius: 50%;
  cursor: pointer;
}

.btn-open:hover {
  color: #f8f8f2;
  background-color: #333333;
  -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.911);
          box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.911);
  z-index: 10;
}

.flyRight {
  opacity: 0 !important;
  -webkit-transform: translateX(250rem) !important;
          transform: translateX(250rem) !important;
}

.output {
  width: 50rem;
  height: calc(100% - 350px);
  padding: 1rem;
  border: 0.8rem solid;
  font-size: 1.4rem;
  resize: none;
}

.keyboard {
  position: absolute;
  bottom: 0;
  opacity: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 50rem;
  border: 0.2rem solid rgba(1, 39, 88, 0.1);
  background-color: black;
  -webkit-transition: -webkit-transform 650ms linear;
  transition: -webkit-transform 650ms linear;
  transition: transform 650ms linear;
  transition: transform 650ms linear, -webkit-transform 650ms linear;
}

.keyboard__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.5fr)[33];
      grid-template-columns: repeat(33, 0.5fr);
  margin: 0.15rem 0;
}

.keyboard__key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  grid-column: auto / span 2;
  height: 3rem;
  padding: 0.2rem;
  margin: 0 0.15rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  background-color: #333333;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.keyboard__key .sub {
  font-size: 1.1rem;
  text-align: left;
  color: #7a7a7a;
}

.keyboard__key .letter {
  text-align: center;
  vertical-align: middle;
}

.keyboard__key.active {
  background-color: green !important;
}

.keyboard__key:hover {
  -webkit-box-shadow: 0 0 2px 1px white;
          box-shadow: 0 0 2px 1px white;
  background-color: rgba(51, 51, 51, 0.6);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.sub.sub-active:not(:empty) {
  font-size: 1.6rem;
  color: #fff;
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
  font-size: 1.1rem;
  color: #7a7a7a;
}

[data-code*="Digit"] .letter {
  text-align: right;
}

[data-code="ControlRight"],
[data-code="Tab"],
[data-code="ControlLeft"],
[data-code*="Alt"],
[data-code="Clear"] {
  grid-column: auto / span 3;
}

[data-code="Enter"],
[data-code="Delete"],
[data-code="Lang"],
[data-code="Mic"] {
  grid-column: auto / span 4;
}

[data-code="CapsLock"],
[data-code="ShiftRight"] {
  grid-column: auto / span 5;
}

[data-code="ShiftLeft"] {
  grid-column: auto / span 6;
}

[data-code="Backspace"] {
  grid-column: auto / span 7;
}

[data-code="BackgroundSound"],
[data-code*="Sound"] {
  grid-column: auto / span 10;
}

[data-code="Space"] {
  grid-column: auto / span 15;
}

[data-code*="Close"] {
  background-color: rgba(255, 0, 0, 0.623);
}

[data-code*="Close"]:hover {
  background-color: red;
  color: black;
}

@media (min-width: 600px) {
  body {
    height: 702px;
  }
  html {
    font-size: 11px;
  }
  main {
    max-width: 600px;
  }
  .output {
    height: calc(100% - 375px);
  }
}

@media (min-width: 750px) {
  body {
    height: 730px;
  }
  html {
    font-size: 12px;
  }
  main {
    max-width: 750px;
  }
  .output {
    height: calc(100% - 400px);
  }
}

@media (min-width: 860px) {
  body {
    height: 772px;
  }
  html {
    font-size: 14px;
  }
  main {
    max-width: 860px;
  }
  .output {
    height: calc(100% - 445px);
  }
}

@media (min-width: 1024px) {
  body {
    height: 820px;
  }
  html {
    font-size: 16px;
  }
  main {
    max-width: 1000px;
  }
  .output {
    height: calc(100% - 490px);
  }
}
/*# sourceMappingURL=style.css.map */