* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms linear;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif
}



body {
  position: relative;
  background: rgb(28, 38, 70);
  height: 680px;
  min-width: 500px;
  overflow-y: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 50rem;
  margin: auto;
  overflow-y: hidden;

  height: 100%;
  // height: inherit;
}

.title {
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}
.btn-open {
  width: 100px;
  height: 100px;
  padding: 25px 0;
  margin: 10px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;

  color: #333333;
  background-color: yellow;
  border: 0px solid rgba(255, 166, 0, 0.7);
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.911);
  border-radius: 50%;

  cursor: pointer;
}

.btn-open:hover {
  color: rgb(248, 248, 242);
  background-color: #333333;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.911);
  z-index: 10;
}

.flyRight {
  opacity: 0 !important;
  transform: translateX(250rem) !important;
}

.output {
  width: 50rem;
  height: calc(100% - 350px);
  padding: 1rem;
  border: 0.8rem solid;
  font-size: 1.4rem;

  resize: none;
}

.keyboard {
  position: absolute;
  bottom: 0;
  opacity: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  width: 50rem;

  border: 0.2rem solid rgba(1, 39, 88, 0.1);
  background-color: black;
  transition: transform 650ms linear;
}

.keyboard__row {
  display: grid;
  grid-template-columns: repeat(33, 0.5fr);
  // grid-template-rows: 5fr;
  // grid-gap: 0.3rem;
  // grid-row-gap: 0.3rem;
  margin: 0.15rem 0;
}

.keyboard__key {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  grid-column: auto / span 2;

  height: 3rem;
  padding: 0.2rem;
  margin: 0 0.15rem;

  font-size: 1.4rem;
  font-weight: 400;
  color:#fff;

  cursor: pointer;
  background-color: #333333;

  transition: all 250ms ease;

  .sub {
    font-size: 1.1rem;
    text-align: left;
    color: #7a7a7a;
  }
  .letter {
    text-align: center;
    vertical-align: middle;
  }
  &.active {
    background-color: green !important;
  }
  &:hover {
    box-shadow: 0 0 2px 1px white;
    background-color: rgba(51, 51, 51, 0.6);
    transition: all 250ms ease;
  }
}

.sub.sub-active:not(:empty) {
  font-size: 1.6rem;
  color: #fff;
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
    font-size: 1.1rem;
    color: #7a7a7a;
}

[data-code*="Digit"] {
  .letter {
    // color: red;
    text-align: right;
  }
} 

[data-code="ControlRight"], 
[data-code="Tab"],
[data-code="ControlLeft"],
[data-code*="Alt"],
[data-code="Clear"]  {
  grid-column: auto / span 3;
}

[data-code="Enter"],
[data-code="Delete"],
[data-code="Lang"],
[data-code="Mic"] {
  grid-column: auto / span 4;
}

[data-code="CapsLock"],
[data-code="ShiftRight"]  {
  grid-column: auto / span 5;
}

[data-code="ShiftLeft"] {
  grid-column: auto / span 6;
}

[data-code="Backspace"]{
  grid-column: auto / span 7;
}

[data-code="BackgroundSound"],
[data-code*="Sound"] {
  grid-column: auto / span 10;
}

[data-code="Space"] {
  grid-column: auto / span 15;
}

[data-code*="Close"] {
  background-color: rgba(255, 0, 0, 0.623);
  &:hover {
    background-color: red;
    color: black;
  }
}

@media (min-width: 600px) {
  body {
    height: 702px;
  }
  html {
    font-size: 11px;
  }
  main {
    max-width: 600px;
  }
  .output {
    height: calc(100% - 375px);
  }
}

@media (min-width: 750px) {
  body {
    height: 730px;
  }
  html {
    font-size: 12px;
  }
  main {
    max-width: 750px;
  }
  .output {
    height: calc(100% - 400px);
  }
}

@media (min-width: 860px) {
  body {
    height: 772px;
  }
  html {
    font-size: 14px;
  }
  main {
    max-width: 860px;
  }
  .output {
    height: calc(100% - 445px);
  }
}

@media (min-width: 1024px) {
  body {
    height: 820px;
  }
  html {
    font-size: 16px;
  }
  main {
    max-width: 1000px;
  }
  .output {
    height: calc(100% - 490px);
  }
}